/* import a web font */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Fredoka+One&display=swap');

body{
    font-family: 'Baloo 2', sans-serif;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    color: slategray;
}

h1{
    font-family: 'Fredoka One', sans-serif;
    margin: 0 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

aside{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 75%;
}



ul{
    list-style: none;
    padding-left: 0;
}

a{
   text-decoration: none; 
   color: black;
}

img{
    max-width: 100%;
}

div[classˆ="row"]{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.row2 > img{
    width: 49%;
}

.row3 > img{
    width: 32%;
}

footer{
    text-align: center;
    width: 100%;
}